// To configure Visual Stuido Code for consistent code formating and linting,
// please follow https://betterprogramming.pub/integrating-prettier-and-eslint-with-vs-code-1d2f6fb53bc9

{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": 0,
    "prettier/prettier": "error"
  }
}
